/* fonts */
@font-face{
    font-family: primary;
    src: url(../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}
@font-face{
    font-family: secondary;
    src: url(../fonts/Roboto_Mono/RobotoMono-Regular.ttf);
}
/* 
/* Animations */

/* Logo Animation -- Login */
@-webkit-keyframes flame-in-out{
    0%   {opacity: 0.20}
    50%  {opacity: 0.50}
    100% {opacity: 0.20}
}
@-moz-keyframes flame-in-out{
    0%   {opacity: 0.20}
    50%  {opacity: 0.50}
    100% {opacity: 0.20}
}
@-o-keyframes flame-in-out{
    0%   {opacity: 0.20}
    50%  {opacity: 0.50}
    100% {opacity: 0.20}
}
@keyframes flame-in-out{
    0%   {opacity: 0.20}
    50%  {opacity: 0.50}
    100% {opacity: 0.20}
}

body{
    background-image: url(../assets/the-block-bg.v1.png);
    background-size: cover;
    background-repeat: repeat-y;
    background-color: rgba(233, 238, 242, 1);
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
#tb-error-message{
    width: 90%;
    display: none;
    color: red;
    margin: 10px auto;
    font-family: secondary;
    font-size: 2vh;
    text-align: center;
}
#tb-error-message-pass{
    width: 90%;
    display: none;
    color: red;
    margin: 10px auto;
    font-family: secondary;
    font-size: 2vh;
    text-align: center;
}

/* Utility */
.hide-element{
    display: none;
}
.show-element--span{
    display: inline;
}
.show-element--div{
    display: block;
}
